@import "tailwindcss";

body {
  @apply bg-gray-50 text-slate-800;
}

/* Hiding scrollbar for the horizontal story list */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}